body, html {
  width: 100%;
  height: 100%;
  font-family: 'Rubik', sans-serif;
  font-size: 1em;
  /* text-transform: uppercase; */
  overflow: hidden;
}

.wrapper {
}

.startButton {
  display: block;
  color: black;
  font-size: 1em;
  font-weight: 700;
  width: 15em;
  margin: 20em auto;
  padding: 1em 1em 1em 1em;
  background-color: white;
  border-radius: 32px;
  border-width: 0.25em;
  border-color: white;
  /* text-transform: uppercase; */
}

.startButton:hover { 
  cursor: pointer;
  background-color: #3FA9F5;
  transition:.10s ease-in;
}

.nextButton {
  color: black;
  display: none;
  font-size: 1em;
  font-weight: 700;
  width: 15em;
  margin: 2.5% auto; 
  padding: 1em 1em 1em 1em;
  background-color: white;
  border-radius: 32px;
  border-width: 0.25em;
  border-color: white;
  /* text-transform: uppercase;  */
}

.nextButton:hover {
  cursor: pointer;
  background-color: #3FA9F5;
  transition:.10s ease-in;
}

.scenarioTitle {
display: none;
margin: 0% 0 0 0;
font-size: 26px;
font-weight: 700;
border-top: 0.05em solid white;
border-bottom: 0.05em solid white;
background-color: rgb(0, 0, 0, 0.5);
padding: 0.75em;
color: #3FA9F5;

}

.scenarioBody{
  text-transform: none;
  text-align: left;
  display: none;
  left: 50vw;
  margin: 0 0 0 0;
  max-width: 100%;
  padding: 4em 4em;
  font-size: 20px;
  font-weight: 500;
  background-color: rgb(0, 0, 0, 0.5);

}

.wsLogoS {
  max-width: 200px;
  height: auto;
  margin: 10% 0 2.5% 0;
}

.wsLogoL {
  max-width: 200px;
  height: auto;
  margin: 10% 0 0 0;
  background-color: black, rgb(0, 0, 0, 0.5);
}

.wsMotion {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

#quiz {
  background-color: rgba(0, 0, 0, 0);
  padding-bottom: 60px;
  color: white;
  text-align: center;
  margin: ;
}

#quiz > h1 {
  text-align: center;
  padding: 0em 0em 1em 0em;
  font-size: 20px;
  color: white;
}

.drink img{
  position: relative;
  max-width: 100%;
  z-index: 1;
}

.questions {
  font-size: 1.5em;
  font-weight: 700;
  border-top: 0.05em solid white;
  border-bottom: 0.05em solid white;
  background-color: rgb(0, 0, 0, 0.5);
  padding: 0.75em;
  color: #3FA9F5;
}

.answers div:hover {
  cursor: pointer;
  background-color: #3FA9F5;
  transition:.10s ease-in;
}

.answers {
  color: black;
}

.answers div {
  font-size: 1em;
  font-weight: 700;
  width: 15em;
  margin: 1em auto;
  padding: 1em 1em 1em 1em;
  background-color: white;
  border-radius: 32px;
  border-width: 0.25em;
  border-color: white;
}

.checker {
  display: inline-block;
  width: 20%;
  margin: 0 auto;
}

.correct, .false {
  font-weight: 700;
  background-color: #3FA9F5;
  width: 2em;
  height: 2em;
  line-height: 2em;
  padding-left: 0em;
  float: left;
  margin-left: 0.5em;
  margin-top: 0.00em;
  border-radius: 2em;
}

.false {
  background-color: #DC4437;
}

.questions, .answers, .checkAnswers, .checker, .wsLogoS {
  display: none;
}

.sequence video {
  border-radius: 32px;
  padding: 10px 10px;
  background-color: black;

  /* height: 100%; */
}

.button {
  /* position: relative; */
  color: rgb(255, 255, 255);
  padding: 2000px;
  /* z-index: 10; */
  width: auto;
  height: auto;

}


.icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr; 
  position: fixed;
  width: auto;
  height: auto;
  top: 0;
  bottom: 0;
}

.icons img {
  cursor: pointer;
  
}

.playHUD {
  font-family: helvetica;
  /* font-weight: 100; */
  grid-column-start: 2;
  grid-row: 1;
  margin: -4em 24em;
  font-size: 20px;
  /* text-transform: uppercase; */
  /* display: grid; */
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr;  */
  color: #3FA9F5;
  z-index: 1;
}

.playHUD h2 {
  display: block;
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  width: 12em;
  margin: 2em auto;
  padding: 20px 20px 20px 20px;
  background-color: #3FA9F5;
  border-radius: 32px;
  border-width: 0.25em;
  border-color: white;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-column-start: 2;
  grid-row: 1;
  z-index: 1;
  
}

.playHUD img {
  cursor: pointer;
}

.retry {
  /* width: 5em; */
  /* top: 36vh; */
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* position: absolute; */
  z-index: 2;

}

.retry img{
  margin: 2em auto;
  max-width: auto;
  height: 64px;
  display: inline;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  left: 62vw
}
@media screen and (min-width: 320px) {
  .icons {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr;  */
    position: fixed;
    width: 50px;
    height: auto;
    top: 0;
    bottom: 0;
  }

  .sequence {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr;  */
    position: fixed;
    width: 100vh;
    height: 100%;
    top: 0;
    bottom: 0;
  }

@media screen and (min-width: 550px) {
  .icons {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    position: fixed;
    width: 4rem;
    height: 4rem;
    top: 0;
    bottom: 0;
  }
  
  .sequence {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    /* position: fixed; */
  }

  

@media screen and (min-width: 1280px) {

  .icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    position: fixed;
    width: 50vw;
    height: auto;
    top: 0;
    bottom: 0;
    z-index: 1;

  }

  .sequence {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(3, 100vw); */
    /* position: fixed; */
    width: 50vw;
    height: 100vh;
    /* bottom: 0; */
  }


.icons img {
  width: 6em;
  margin: 19em 2em;
  position: absolute;
}

/* .drink:hover {
  transition: .5s ease;
  position: absolute;
  display: block;
  max-width: 8em;
  cursor: pointer;
  background-image: url(../img/drinkH.png);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 10em;
  z-index: 2;
} */


/* .sequence > div {
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  overflow: hidden;
} */

.sequence > div:hover .overlap {
  opacity: 100;
}

/* .overlap {
  position: absolute;
  place-content: center;
  display: grid;
  width: 90%;
  height: 45%;
  top: 5%;
  left: 5%;
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
  color: white;
  opacity: 0;
  transition: opacity 0.25s;
  text-transform: none;
  border: 0em;
  border-radius: 5px;
} */


@media screen and (min-width: 1440px) {

  .sequence video {
    display: grid;
    /* grid-auto-rows: 100px;  */
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    width: 33vw;
    /* height: 50%vh; */
  }
}